<!DOCTYPE html>
<html>
  <head>
    <title>Taric Data: Home</title>
  </head>
  <body>
    <a href="/"><h1>Taric Data</h1></a>
    <div>
      <a href="/chapters/"><h2>List of chapters</h2></a>
    <div>
    <div>
      <a href="/rule-names/"><h2>List of rule-names</h2></a>
    <div>
  </body>
</html>
