<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
<title>TARIC-code: search</title>
 	</head>
 	<body>
    <h2>Search</h2>
           <div id="queries">
		<div>
			<ul>
				<li><a rel="http://sils-webinfo.github.io/TARIC-code/rule-names" href="rule-names.html">All Rules</a></li>
                <li><a rel="http://sils-webinfo.github.io/TARIC-code/rule-post" href="rule-names.html">Post Rule</a></li>
                <li><a rel="http://sils-webinfo.github.io/TARIC-code/rule1" href="rule1.html">SECTION I PREPARED FOODSTUFFS; BEVERAGES, SPIRITS AND VINEGAR; TOBACCO AND MANUFACTURED TOBACCO SUBSTITUTES,Cocoa and Cocoa Preparations,Chocolate and other food preparations containing cocoa,Cocoa powder, containing added sugar or other sweetening matter,Containing no sucrose or containing less than 5% by weight of sucrose (including invert sugar expressed as sucrose) or isoglucose expressed as sucrose.</a></li>
                <li><a rel="http://sils-webinfo.github.io/TARIC-code/rule2" href="rule2.html">SECTION II LIVE ANIMALl;CHAPTER 1 LIVE HORSES, ASSES, MULES, AND HINNLES.</a></li>
			</ul>
	    </div>
	  </div>
	</body>
 </html>
