<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">	
        <title>TARIC-code: rule</title>
 	</head>
 	<body>
<!--code--> 
        <div id="code">
           <h2>Taric Code</h2>
               <p>
                    01010101-01-0001
               </p>
        </div>      
<!--rule-name--> 
        <div id="rule-name">
            <h2>Rule Name</h2>
    	       SECTION II LIVE ANIMALl;CHAPTER 1 LIVE HORSES, ASSES, MULES, AND HINNLES.
        </div>
<!--rule-->          
        <div id = "rule">
        	<h2>Rule Content</h2>     
				ERGA OMNES (ERGA ONMES)<br>
                    <ul>
                   		<li>Third country duty (01-07-2000) : 10.00 percent     R2107/87</li>
                   		<li>Non preferential tariff quota (01-01-2013) 36.00 percent   R0875/05</li>
                    </ul>
        </div>
	    </div>
	</body>
 </html>
